<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Błąd rejestracji</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<center>
	<h1>Nie udało się wyświetlić danych</h1>
	<h3><span th:text="${error_msg_get}" /></h3>

	<a href="/index">Powrót do strony głównej</a>
</center>



</body>
</html>
