<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Błąd wyświetlania</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<center>
	<h1>Nie udało się zarejestrować</h1>
	<h3><span th:text="${error_msg}" /></h3>
	<h3><span th:text="${error_msg2}" /></h3>
	<h3><span th:text="${error_msg3}" /></h3>
	<a href="/register">Spróbuj ponownie</a>
	<a href="/index">Powrót do strony głównej</a>
</center>


</body>
</html>
