<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
	<title>Wizyta medyczna</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script>
				let addRow = function () {
        let listName = 'drugs';
        let fieldsNames = ['dosage', 'name', 'quantity'];
        let rowIndex = document.querySelectorAll('.item').length; 

        let row = document.createElement('div');
		let h = document.createElement('h4');
		var tmp = rowIndex+1
		
		
		h.textContent = "Lek nr: " + tmp;
        row.classList.add('row', 'item');
		row.appendChild(h);
        fieldsNames.forEach((fieldName) => {
        	
            let col = document.createElement('div');
            col.classList.add('col', 'form-group');
  

            let input = document.createElement('input');
            input.type = 'text';
            input.classList.add('form-control');
            input.id = listName + rowIndex + '.' + fieldName;
            input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);
            input.required = true;
            if(fieldName == 'dosage'){
            	input.setAttribute('placeholder','Dawka');
            }
            if(fieldName == 'name'){
            	input.setAttribute('placeholder','Nazwa');
            }
            if(fieldName == 'quantity'){
            	input.setAttribute('placeholder','Ilość');
            }
            
			

            col.appendChild(input);
            row.appendChild(col);
        });

        document.getElementById('drugs').appendChild(row);
};
</script>
<style>



.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button_add {
  background-color: #008CBA;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button_cancel {
  background-color: #f44336;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;

}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

form {
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0% 0% 10% 10%;
}

table {
	border-spacing: 20px;
}

th {
	padding-right: 20px;
	vertical-align:top;
	horizontal-align:center;
}


</style>
</head>
<body>
	<center><h1>Wizyta medyczna</h1></center>
    <form action="#" th:action="@{/register}" th:object="${medicalRequest}" method="post">
	
	<table align="center">
		<tr>
			<th>
				<h2>Wizyta</h2>
				<h3> Pacjent </h3>
					<input type="text" th:field="*{patient.age}" placeholder="Wiek" required /><br/>
					<input type="text" th:field="*{patient.firstName}" placeholder="Imie" required /><br/>
					<input type="text" th:field="*{patient.lastName}" placeholder="Nazwisko" required /><br/>
					<select th:field="*{patient.gender}"><div>
						<option th:value="'Mężczyzna'" th:text="Mężczyzna">Meżczyzna</option>
						<option th:value="'Kobieta'" th:text="Kobieta">Kobieta</option></div>
					</select><br/>
			
				<h3> Lekarz </h3>	
					<input type="text" th:field="*{doctor.firstName}" placeholder="Imie" required><br/>
					<input type="text" th:field="*{doctor.lastName}" placeholder="Nazwisko" required><br/>
					<input type="text" th:field="*{doctor.specialization}" placeholder="Specjalizacja" required /><br/>
					
				<h3> Diagnoza </h3>	
					<input type="text" th:field="*{diagnosis.patientsState}" placeholder="Stan pacjenta" required><br/>
					<input type="text" th:field="*{diagnosis.disease}" placeholder="Choroba" required/><br/>
				     
			</th>
			<th>
			</th>
			<th>
				<h2> Recepta </h2>	 
		        <div class="row">
					<div class="col">				     
							<div id="drugs">
								<div class="row item">
								<h3> Lek nr 1: </h3>	
								<input type="text" th:field="*{drugs[0].dosage}" placeholder="Dawka" required><br/>
								<input type="text" th:field="*{drugs[0].name}" placeholder="Nazwa" required/><br/>
								<input type="text" th:field="*{drugs[0].quantity}" placeholder="Ilość" required/><br/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<button type="button" class="button_add" onclick="addRow()">Dodaj lek</button>
					</div>
				</div>
				<input id="extra" type="text" th:field="*{extraDescription}" placeholder="Dodatkowe informacje" style="min-height:100px" ><br/>
			<th/>
		</tr>
	</table>
	<br/>
	<br/>    
	<input type="submit" value="Wyślij" class="button" /> 
	<input type="reset" value="Resetuj" class="button_cancel"/>
		

</body>
</html>
