<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Wynik rejestracji wizyty</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<center>
	<h1>Pomyślnie zapisano wizytę!</h1>

	<h2 th:text="'Dane dodane do usługi wizyt (id: ' + ${visitinfo.visitResponse.visitId} + ')'" />
	<table id="customers">
	  <tr>
		<th>Atrybut</th>
		<th>Wartość</th>
	  </tr>
	  <tr>
		<td>Imię Pacjenta</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.patient.firstName}" /></td>
	  </tr>
	  <tr>
		<td>Nazwisko Pacjenta</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.patient.lastName}" /></td>
	  </tr>
	  <tr>
		<td>Wiek Pacjenta</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.patient.age}" /></td>
	  </tr>
	  <tr>
		<td>Płeć Pacjenta</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.patient.gender}" /></td>
	  </tr>
	  <tr>
		<td>Imię Lekarza</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.doctor.firstName}" /></td>
	  </tr>
	  <tr>
		<td>Nazwisko Lekarza</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.doctor.lastName}" /></td>
	  </tr>
	  <tr>
		<td>Specjalizacja Lekarza</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.doctor.specialization}" /></td>
	  </tr>
	  <tr>
		<td>Stan Pacjenta</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.diagnosis.patientsState}" /></td>
	  </tr>
	  <tr>
		<td>Zdiagnozowana choroba</td>
		<td><span th:text="${visitinfo.visitResponse.visitRequest.diagnosis.disease}" /></td>
	  </tr>
	</table>
	
	
	<h2 th:text="'Dane dodane do usługi recepty (id: ' + ${visitinfo.registerPrescriptionResponse.return.id} + ')'" />
	<table>
		<tr>
			<th>Atrybut</th>
			<th>Wartość</th>
	  	</tr>
		<tr>
			<td>Imie pacjenta</td>
			<td><span th:text="${visitinfo.registerPrescriptionResponse.return.patient.firstName}" /></td>
		</tr>
		<tr>
			<td>Nazwisko pacjenta</td>
			<td><span th:text="${visitinfo.registerPrescriptionResponse.return.patient.lastName}" /></td>
		</tr>
		<tr>
			<td>Wiek pacjenta</td>
			<td><span th:text="${visitinfo.registerPrescriptionResponse.return.patient.age}" /></td>
		</tr>
		<tr>
			<td>Płeć pacjenta</td>
			<td><span th:text="${visitinfo.registerPrescriptionResponse.return.patient.gender}" /></td>
		</tr>
		<tr th:each="drug : ${visitinfo.registerPrescriptionResponse.return.drugs}">
			<td>Lek</td>
			<td><span th:text="'Nazwa: ' + ${drug.name} + '		Dawka: ' + ${drug.dosage} + '		Ilość: ' + ${drug.quantity}" /></td>
		</tr>
		<tr>
			<td>Dodatkowe informacje</td>
			<td><span th:text="${visitinfo.registerPrescriptionResponse.return.extraDescription}" /></td>
		</tr>
	
	</table>
<br/>
	<a href="/register">Zarejestruj kolejną wizytę</a>
	<a href="/index">Powrót do strony głównej</a>
	
<center>
</body>
</html>
