<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Dane recepty</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<center>
	
	<h2 th:text="'Dane dodane do usługi recepty (id: ' + ${visitinfo.id} + ')'" />
	<table>
		<tr>
			<th>Atrybut</th>
			<th>Wartość</th>
	  	</tr>
		<tr>
			<td>Imie pacjenta</td>
			<td><span th:text="${visitinfo.patient.firstName}" /></td>
		</tr>
		<tr>
			<td>Nazwisko pacjenta</td>
			<td><span th:text="${visitinfo.patient.lastName}" /></td>
		</tr>
		<tr>
			<td>Wiek pacjenta</td>
			<td><span th:text="${visitinfo.patient.age}" /></td>
		</tr>
		<tr>
			<td>Płeć pacjenta</td>
			<td><span th:text="${visitinfo.patient.gender}" /></td>
		</tr>
		<tr th:each="drug : ${visitinfo.drugs}">
			<td>Lek</td>
			<td><span th:text="'Nazwa: ' + ${drug.name} + '		Dawka: ' + ${drug.dosage} + '		Ilość: ' + ${drug.quantity}" /></td>
		</tr>
		<tr>
			<td>Dodatkowe informacje</td>
			<td><span th:text="${visitinfo.extraDescription}" /></td>
		</tr>
	
	</table>
<br/>
		<a href="/index">Powrót do strony głównej</a>
	
<center>
</body>
</html>
